.title {
	text-align: center;
  margin: 20px auto;

}

.title ul{
	list-style: none;
  margin: 0 auto;
}

#codirectors {
  font-weight: bold;
  padding: 0;
  margin-bottom: 30px;
}

.contact {
	display: inline-block;
	margin: 20px;
}

/*social media buttons */


/* General rule */
.button-big
{
  font-size: 2.5em;
  width: 4em;
  text-align:center;
  padding: 0.2em 0em 0.2em 0em;
}

/* Instagram class and animation */
.instagram
{
  color: #0096ff;
  border: 1px solid #0096ff;
}

.fa:active {
  color: red;
}


.instagram:hover
{
  animation: instagramAnim 0.4s normal forwards linear;
  -webkit-animation: instagramAnim 0.4s normal forwards linear;
}
@keyframes instagramAnim {
  50% {
    background-color: #0096ff;
  }
  100% {
    background-color: #0096ff;
    border: 1px solid #0096ff;
    color: #fff;
  }
}

@-webkit-keyframes instagramAnim {
  50% {
    background-color: #0096ff;
  }
  100% {
    background-color: #0096ff;
    border: 1px solid #0096ff;
    color: #fff;
  }
}

/* Facebook class and animation */
.facebook
{
  color: #3B5998;
  border: 1px solid #3B5998;
}

.facebook:hover
{
  animation: facebookAnim 0.4s normal forwards linear;
  -webkit-animation: facebookAnim 0.4s normal forwards linear;
}

@keyframes facebookAnim {
  50% {
    background-color: #3B5998;
  }
  100% {
    background-color: #3B5998;
    border: 1px solid #3B5998;
    color: #fff;
  }
}

@-webkit-keyframes facebookAnim {
  50% {
    background-color: #3B5998;
  }
  100% {
    background-color: #3B5998;
    border: 1px solid #3B5998;
    color: #fff;
  }
}

/* CURRENT */

.showInfo {
  font-size: 18px;
}

.addressIcons {
  padding-left: 10px;
}

.addressIcons .address {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding-left: 12px;  
}

.addressIcons .fa {
  padding: 6px;

}

.showInfo h3 {
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 0;
  padding-top: 5px;
}

.showInfo span {
  font-weight: normal;
}

.showInfo h3 + h4 {
  font-weight: normal;
  padding-top: 0;
  margin: 0;
  margin-bottom: 33px;

}

.showImage {
  padding: 10px;
}

.currentShow {
  padding: 30px;
}


/*Archive*/

.currentShow h1 {
  text-align: center;
  margin-bottom: 60px;
}